name: Rust CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Build
      run: cargo build
    
    - name: Check Clippy
      run: cargo clippy

    - name: Check fmt
      run: cargo fmt -- --check
    
    - name: Test
      run: cargo test 
